#game{
    width: 100%;
    height: 600px;
    background-image: url("../images/sky.png");
    position: relative;
}
.bird{
    position: absolute;
    width:30px;
    height: 30px;
    top: 230px;
    left: 50%;
    margin-left: -15px;
    background-image: url("../images/birds.png");
    transition: top .3s linear;
}
.pipe{
    width: 52px;
    height: 200px;
    background-color: red;
    left: 300px;
    position: absolute;
    z-index: 1;
}
.pipe.pipe-down{
    background-image: url("../images/pipe2.png");
    background-position-y: bottom;
    top: 0;
}

.pipe.pipe-up{
    background-image: url("../images/pipe1.png");
    bottom: 0;
}
.start-game{
    top: 305px;
    position: absolute;
    width: 200px;
    height: 60px;
    text-align: center;
    left: 50%;
    /* font-size: 24px; */
    margin-left: -100px;  
    font-weight: bolder; 
    cursor: pointer;
    transition: all .3s linear;
}
.start-game.white{
    font-size: 24px;
    color: white;

}
.start-game.blue{
    color: blue;
    font-size: 36px;
 }
.score-times{
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    font-size: 24px;
    top: 10px;
    display: none;
    font-weight: bolder;
    color: whitesmoke;
}
.mask{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
     background-color: #000;
     opacity: .7;
     display: none;
} 
.end{
     position: absolute;
     top: 70px;
     left: 50%;
     transform: translateX(-50%);
     text-align: center;
}
.end .game-over{   
    color: red;
    font-size: 40px;
    font-weight: bolder;
}

.end .score-name,
.end .score
{
    
    margin-top: 20px;
    color: #ff0;
    font-size: 20px;
    font-weight: bold;

}
 .rank-score{
    width: 210px;
   margin-top: 20px;  
 }
.rank-score .rank-item{
    text-align: center;
    height: 15px;
    width: 200px;
    color:#09f;
    margin-bottom: 20px;
    font-size: 13px;

}
.rank-score .rank-item .rank-level{
    display:inline-block;
width: 15px;
height: 15px;
font-size: 12px;
/* padding: 1px; */
text-align: center;
line-height: 15px;
background: red;
color: aliceblue;    
margin-bottom: 5px;
}
.rank-score .rank-item .rank-level.first{
    background: red;
}
.rank-score .rank-item .rank-level.second{
    background-color: #ff8547;
}
.rank-score .rank-item .rank-level.third{
    background-color: #ffac38;

}
/*  */
.rank-score .rank-item .rank-item-score{
    margin-left: 10px;
}
.rank-score .rank-item .rank-time{
    margin-left: 20px;
}
.end .restart{
    margin-top: 20px;
    color: #09f;
    font-size: 20px;
    font-weight: bolder;
    /* position: absolute; */
   
    /* margin-top: ; */
}